# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
npm-debug.log

# code coverage
report
src/client/local.environment.json
src/client/app/config/environment.js

# other
.env
.tmp
/build
